        th{text-align: left; color: maroon}
        h1{color: mediumorchid}
        body{text-align: left;}
        .style_one {padding-right: 700px;}
        *{font-family: Verdana}
        .stylegeneral{font-family: "Baskerville Old Face"}
        #ID_one{font-weight: bold}